# San Francisco Rental Prices Dashboard

In this notebook, you will compile the visualizations from the previous analysis into functions that can be used for a Panel dashboard.

In [33]:
# imports
import panel as pn
pn.extension('plotly')
import plotly.express as px
import pandas as pd
import hvplot.pandas
import matplotlib.pyplot as plt
import os
from pathlib import Path
from dotenv import load_dotenv

In [34]:
# Read the Mapbox API key
load_dotenv()
map_box_api = os.getenv("mapbox")
px.set_mapbox_access_token(map_box_api)

# Import Data

In [35]:
# Import the necessary CSVs to Pandas DataFrames
file_path = Path("Data/neighborhoods_coordinates.csv")
neighborhoods_coordinates = pd.read_csv(file_path)
neighborhoods_coordinates.head()

      Neighborhood        Lat         Lon
0     Alamo Square  37.791012 -122.402100
1       Anza Vista  37.779598 -122.443451
2          Bayview  37.734670 -122.401060
3  Bayview Heights  37.728740 -122.410980
4   Bernal Heights  37.728630 -122.443050

In [36]:
# Import the necessary CSVs to Pandas DataFrames
file_path = Path("Data/sfo_neighborhoods_census_data.csv")
sfo_census_data = pd.read_csv(file_path)
sfo_census_data.head()

   year      neighborhood  sale_price_sqr_foot  housing_units  gross_rent
0  2010      Alamo Square           291.182945         372560        1239
1  2010        Anza Vista           267.932583         372560        1239
2  2010           Bayview           170.098665         372560        1239
3  2010  Buena Vista Park           347.394919         372560        1239
4  2010  Central Richmond           319.027623         372560        1239

- - -

## Panel Visualizations

In this section, you will copy the code for each plot type from your analysis notebook and place it into separate functions that Panel can use to create panes for the dashboard. 

These functions will convert the plot object to a Panel pane.

Be sure to include any DataFrame transformation/manipulation code required along with the plotting code.

Return a Panel pane object from each function that can be used to build the dashboard.

Note: Remove any `.show()` lines from the code. We want to return the plots instead of showing them. The Panel dashboard will then display the plots.

In [45]:
# Define Panel Visualization Functions
# sfo_census_data
def housing_units_per_year(sfo_census_data):
"""Housing Units Per Year."""
    
    units_per_year = sfo_census_data["housing_units"].groupby(['year']).mean()
    units_per_year_plot =  units_per_year.hvplot(
        kind='bar',
        ylim=(
        372000, 389000),
        title='Houseing Unites Per Year')
    
    return pn.panel(housing_units_per_year_plot)

'Housing Units Per Year.'

In [64]:
# Define Panel Visualization Functions
# sfo_census_data
def average_gross_rent(sfo_census_data):
"""Average Gross Rent in San Francisco Per Year."""    

    avg_rent = sfo_census_data["gross_rent"].groupby(
        [sfo_census_data.index]).mean()
    gross_rent_plot = plt.figure()
    avg_rent_plot = (average_rent_sqr_foot.plot.line(
        x='year',
        y='gross_rent_fig',
        title='Average Gross Rent Per Year'
)

    return pn.panel(gross_rent_fig)

IndentationError: expected an indented block (Temp/ipykernel_20500/862157895.py, line 4)

In [54]:
def average_sales_price(sfo_census_data):
"""Average Sales Price Per Year."""    

    average_price_sqr_foot = sfo_census_data['sale_price_sqr_foot'].groupby(
        sfo_census_data.index).mean()
    
    sales_price_fig = plt.figure()
    average_sales_price_plot = (average_price_sqr_foot.plot.line(
        x='year',
        y='sale_price_sqr_foot',
        title="Average Sales Price per Year")
)
    plt.close(sales_price_fig)
    
    return pn.panel(sales_price_fig)

'Average Sales Price Per Year.'

In [58]:
def average_price_by_neighborhood(sfo_census_data):
    
    avg_neighborhood_price = sfo_census_data.groupby([sfo_census_data.index,
        "neighborhood"]).mean()
    avg_neighborhood_price.reset_index(inplace=True)
    avg_neighborhood_price_plot = avg_neighborhood_price.hvplot(
        "year",
        "sale_price_sqr_foot",
        xlabel='Year',
        ylabel='Average Sale Price Per Square Foot',
        groupby='neighborhood',
)

    return  avg_neighborhood_price_plot

"""Average Prices by Neighborhood."""

'Average Prices by Neighborhood.'

In [61]:
def top_most_expensive_neighborhoods(neighborhoods_coordinates):
    
    top_most_expensive_neighborhoods = avg_by_neighborhood[['sale_price_sqr_foot', 'neighborhood', 'gross_rent']].groupby(['neighborhood']).mean().sort_values('sale_price_sqr_foot', ascending=False)
    top_ten = sorted_avg.iloc[0:10]
    top_ten_plot = top_ten.hvplot(kind='bar', x='neighborhood', y='sale_price_sqr_foot', rot=90, title='Most Expensive Neighborhoods')
    top_ten_plot = pn.panel(top_ten_plot)
    
    return top_ten_plot

top_ten_plot.head()

"""Top 10 Most Expensive Neighborhoods."""

NameError: name 'top_ten_plot' is not defined

In [59]:
def most_expensive_neighborhoods_rent_sales(neighborhoods_coordinates):
    
    sorted_avg = sfo_data.groupby(by=['year', 'neighborhood']).mean()
    grouped_avg = sorted_avg.groupby(['year', 'neighborhood', 'sale_price_sqr_foot', 'gross_rent']).mean()
    grouped_avg.drop(columns=['housing_units'],inplace=True)
    group_plot = grouped_avg.hvplot.bar(stacked=False, groupby='neighborhood', rot=90, ylabel='Num Housing Units', xlabel='Neighborhood')
    group_pane = pn.panel(group_plot)
    return group_pane
    
    """Comparison of Rent and Sales Prices of Most Expensive Neighborhoods."""

In [ ]:
def parallel_coordinates():
    """Parallel Coordinates Plot."""

    # YOUR CODE HERE!

In [ ]:
def parallel_categories():
    """Parallel Categories Plot."""
    
    # YOUR CODE HERE!

In [ ]:
def neighborhood_map():
    """Neighborhood Map."""

    # YOUR CODE HERE!

In [ ]:
def sunburst():
    """Sunburst Plot."""
    
    # YOUR CODE HERE!

## Panel Dashboard

In this section, you will combine all of the plots into a single dashboard view using Panel. Be creative with your dashboard design!

In [ ]:
# Create a Title for the Dashboard
# YOUR CODE HERE!


# Create a tab layout for the dashboard
# YOUR CODE HERE!


# Create the dashboard
# YOUR CODE HERE!

## Serve the Panel Dashboard

In [ ]:
# Serve the# dashboard
# YOUR CODE HERE!

# Debugging

Note: Some of the Plotly express plots may not render in the notebook through the panel functions.

However, you can test each plot by uncommenting the following code

In [ ]:
# housing_units_per_year()

In [ ]:
# average_gross_rent()

In [ ]:
# average_sales_price()

In [ ]:
# average_price_by_neighborhood()

In [ ]:
# top_most_expensive_neighborhoods()

In [ ]:
# most_expensive_neighborhoods_rent_sales()

In [ ]:
# neighborhood_map().show()

In [ ]:
# parallel_categories()

In [ ]:
# parallel_coordinates()

In [ ]:
# sunburst()